@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Dosis', sans-serif;
}
p{
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
}
.start{
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
}
.chat{
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.buttons button{
  width: 47%;
}